*{
	padding:0px;
	margin:0px;
	text-decoration:none;
	list-style:none;
	
}
nav{
	background-color:#010b31;
	width:100%;
	float:left;
	height:85px;
	
}
nav h1{
	color:white;
	float:left;
	padding-top:12px;
	padding-left:50px;
	font-size:35px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
nav ul{
float:right;
padding:25px;
padding-right:70px;
}
nav ul li{
	display:inline;
	
	
}
nav ul li a{
	text-decoration:none;
	border-right:1px solid #3E3E3E;
	font-family:Arial, Helvetica, sans-serif;
	padding:10px;	
	color:white;
	position: relative;
}
nav ul li a:hover{
	color:#FF9900;
	border-right:0.5px solid #FF9900;
	
}
nav ul ul{
	display:none;
	background-color:#010b31;
	padding:30px;
}
nav ul li:hover> ul{
	display:block;
	position:absolute;
	top:47px;
	margin-left:3px;
	z-index:1;
}
.slidershow{
	width: 100%;
	height: 510px;
	overflow: hidden;
	margin-top:60px;
	
}
.middle{
	position: absolute;
	top: 43%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.control{
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}
.bar{
	width: 20px;
	height: 10px;
	border: 2px solid #fff;
	margin: 6px;
	cursor: pointer;
	transition: 0.4s;
}
.bar:hover{
	background: #fff;
}

input[name="r"]{
	position: absolute;
	visibility: hidden;
}
.slides{
	width:500%;
	height:100%;
	display: flex;
}
.slide{
	width: 20%;
	transition: 0.6s;
}
.slide img{
	width: 100%;
	height: 100%;
}
#r1:checked ~ .s1{
	margin-left: 0;
}
#r2:checked ~ .s1{
	margin-left: -20%;
}
#r3:checked ~ .s1{
	margin-left: -40%;
}
#r4:checked ~ .s1{
	margin-left: -60%;
}
#r5:checked ~ .s1{
	margin-left: -80%;
}

.boom_1{
	width: 48.8%;
	height: 30px;
	float: left;
	color: black;
	margin-top:483px;
	text-align: center;
	background-color:white;
	padding: 8px 8px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	border-bottom:1px solid #CFCFCF;
}
.boom_1:hover{
	font-size:18px;
	background-color:#010b31;
	color:white;
	text-align:center;
}
.boom_2{
	width: 48.5%;
	float: left;
	height: 30px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: black;
	padding:8px 8px;
	margin-top: 483px;
	border-left: 1px solid black;
	text-align: center;
	background-color:white;
	border-bottom:1px solid #CFCFCF;
}
.boom_2:hover{
	font-size: 18px;
	background-color:#010b31;
	color:white;
	text-align:center;
}
#container{
	width:100%;
	height: 200px;
	float:left;	
	
	
	
}
#container_1{
	width: 30%;
	float: left;
	text-align: center;
	padding: 10px;
	margin-left: 3%;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	
	
}
#container_2{
	width: 29.6%;
	float: left;
	text-align: center;
	padding: 10px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#container_3{
	width: 30%;
	float: left;
	text-align: center;
	padding: 10px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	
}
#picture{
	width: 100%;
	height: 400px;
	float:left;
	background-color:#CFCFCF;
}
#picture h1{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align:center;
	padding:20px 0 40px;
	font-size:28px;

}
#picture p{
	text-align:left;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif
}
#picture_1{
	margin-left:60px;
	width:20%;
	height: 270px;	
	float:left;
	border:8px solid white;
	background-color: white;
	
}
#picture_1:hover{
	background-color: #010b31;
	color: white;
	border: 8px solid #010b31;
	transform: skewY(08deg);
	transition-duration: 1s;
}
#picture_2{
	width:20%;
	height: 270px;	
	float:left;
	margin-left:30px;
	border:8px solid white;
	background-color: white;
}
#picture_2:hover{
	background-color: #010b31;
	color: white;
	border: 8px solid #010b31;
	transform: skewY(08deg);
	transition-duration: 1s;	
}
#picture_3{
	width:20%;
	height: 270px;
	float:left;
	margin-left: 30px;
	border:8px solid white;
	background-color: white;
}
#picture_3:hover{
	background-color: #010b31;
	color: white;
	border: 8px solid #010b31;
	transform: skewY(08deg);
	transition-duration: 1s;	
}
#picture_4{
	width:20%;
	height: 270px;
	float:left;
	margin-left: 30px;
	border:8px solid white;
	background-color: white;
}
#picture_4:hover{
	background-color: #010b31;
	color: white;
	border: 8px solid #010b31;
	transform: skewY(08deg);
	transition-duration: 1s;	
}
#picture img{
	width:270px;
	height:250px;
}
#cube{
	width:100%;
	height:60px;
	float:left;
	
}
#cube_1{
	width:27%;
	height:60px;
	float:left;
	margin-left:100px;	
	border-bottom:6px solid #EAEAEA;
}
#cube h2{
	float:left;
	padding:10px;
}
#cube p{
	float:right;
	padding-top:15px;
}
#cube_2{
	width:27.5%;
	height:60px;
	float:left;
	margin-left:20px;
	border-bottom:6px solid #EAEAEA;
}
#cube_3{
	width:27.5%;
	height:60px;
	float:left;
	margin-left:20px;
	border-bottom:6px solid #EAEAEA;
}

#box_1{
	width: 27.5%;
	padding-top:10px;
	float:left;
	margin-left:90px;
	height:550px;
}
#box_1 hr{
	border-color:#fff;
}
#box_2{
	width:27.5%;
	float:left;
	margin-left: 20px;
	height:550px;
	padding-top:20px;
	}
#box_3{
	width:27.5%;
	height:550px;
	margin-left:15px;
	padding-top:10px;
	float:left;
}
#box_3 hr{
	border-color:#FFF;
}
#box_1 img{
	width:120px;
	height:100px;
	float:left;
	padding:10px;
	border:1px solid #CFCFCF;
	margin:10px;
}
#box_1 p{
	text-align:left;
	padding-left: 150px;
	padding-top: 10px;	
	
}
#box_2 img{
	width:350px;
	height:250px;
	border:1px solid #CFCFCF;
	padding:10px;
}
#box_2 p{
	padding:10px;
	text-align:left3;
}
#box_3 img{
	width:120px;
	height:100px;
	border:1px solid #CFCFCF;
	margin:10px;
	float:left;
	padding: 10px;
	
	
}
#box_3 p{
	text-align:left;
	padding-top:10px;


}
.footer-top{
	width:100%;
	background-image:linear-gradient(black,#010b31);	
	float:left;
	position:relative;
	height:350px;
}
.footer-top h3{
	color:#00C1C1;
	padding-bottom:10px;
	padding:20px 0px; 
}
.footer-top p{
	color:white;
	padding:18px 10px 0 0;
	text-align:left;
}
.footer-top hr{ 
  margin-top: 8px;
  margin-bottom:8px;
  margin-right: 20px;
  border-style: inset;
  border-width: 1px;
  border-color:#181818;
}
.footer-top_1{
	width:15%;
	float:left;
	height:250px;
	margin-left: 90px;
}
.footer-top ul{
	display:inline;
}
.footer-top ul li{
	text-decoration:none;
}
.footer-top ul li a{
	color:white;
}
.footer-top ul li a:hover{
	border-bottom:1px solid white;
}
.footer-top_2{
	width:15%;
	float:left;
	height:250px;
}
.footer-top_3{
	width:20%;
	float:left;
	height:250px;
}
.footer-top_4{
	width:20%;
	float:left;
	height:250px;
	color:white;
}
.footer-top_5{
	width:15%;
	float:left;
	height:250px;
}
.footer-top .footer-bottom{
	height:px;
	width:100%;
	background-color:black;
	position:absolute;
	bottom:0px;
	text-align:center;
	color:white;
	
}


		
		`